<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
	<nav th:replace="layout :: header"></nav>
	<nav th:replace="layout :: sidebar"></nav>
	<div class="container"  id="main-content" style="margin-left:20%;width:80%">

		<div class="row d-flex justify-content-center">
			<form style="min-width: 300px;" action="#"
				th:action="@{/admin/emp/save}" th:object="${employee}"
				method="post" novalidate="novalidate">
				<h5 class="text-center">Employee form</h5>

				<input type="hidden" th:field="*{id}" />

				<div class="form-group">
					<input class="form-control" type="text" placeholder="Employee name"
						th:field="*{userName}" th:errorclass="field-error" /> <em
						th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></em>
				</div>

				<div class="form-group">
					<input class="form-control" type="text" placeholder="password"
						th:field="*{rawPassword}" th:errorclass="field-error" /> <em
						th:if="${#fields.hasErrors('rawPassword')}" th:errors="*{rawPassword}"></em>
				</div>


				<div class="form-group">
					<button type="submit" class="btn btn-block btn-primary">
						<i class="fa fa-save"></i> Save
					</button>
				</div>
			</form>
		</div>
	</div>
	<!-- /.container -->

	<footer th:replace="layout :: footer"></footer>
</body>
</html>