<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>

<nav th:replace="layout :: header"></nav>
<nav th:replace="layout :: sidebar"></nav>
<div class="container"  style="margin-left:25%">

    <div class="starter-template">
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
          <h2>1.  <a th:href="@{/admin/products}">Product Management</a></h2>
          <h2>2.  <a th:href="@{/admin/emp}">Employee Management</a></h2>
          <h2>3.  <a th:href="@{/admin/statistic}">Statistic</a></h2>


    </div>

</div>
<!-- /.container -->

<footer th:replace="layout :: footer"></footer>

</body>
</html>